{%load static%}

<html>
  <head>
    <title>Restaurant Management</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
  </head>
  <body>
    <div class="greenstrip1">
    </div>

    <header>
      <nav>
        <h1>Hallepeno Restaurant</h1>
        </ul>
          <li class="homered"><a href="#">Home</a></li>
          <li class="hoverover"><a href="#">Book A Table</a></li>
          <li class="hoverover"><a href="orderfood.html">Order Food</a></li>
          <li class="hoverover"><a href="#">Today's Offer</a></li>
          <li class="hoverover"><a href="#">About Us</a></li>
          <li class="hoverover1"><a href="#">Register | Login</a></li>
          <ul>
      </nav>
    </header>

    <div class="greenstrip">
    </div >
    <div>
      <img class="img1" src="{%static 'm3.jpeg'%}">
    </div>



  </body>

</html>
