{% extends 'base.html' %}
{% load static %}
{%block css %}

	<link rel=stylesheet href="{% static  'booktable.css'%}">
{%endblock%}


{%block title %} Food Order {%endblock%}

{%block body %}


        <form action="/foodorder/" method="post">
            {%csrf_token%}
        <table border=0 align=center width="35%">
        <tr>
            <td>Category:</td>
            <td align="center">
                <select name="typefood" width="200%">
                    <option value="Fast Food">Fast Food</option>
                    <option value="Panjabi">Panjabi</option>
                    <option value="Kathiyawadi">Kathiyawadi</option>
                    <option value="South Indian">South Indian</option>
                    <option value="Rice">Rice</option>
                    <option value="Soup">Soup</option>
                    <option value="Coldrinks">Coldrinks</option>
                </select>
            </td>
            <td align="center"><input type="submit" value="Search"></td>
        </tr>

        </table>
        </form>
        <form action="/foodorder/" method="get">


        <table border=0 align=center width="35%">

            <!-- 1 -->
            <tr>

                <td width="18%">Name</td>
                <td width="1%">Quentity</td>
                <td width="18%"><center>Price</center></td>
            </tr>
            {% for i in detail%}
            <tr>

                <td>{{i.name}}</td>
                <td>
                    <input type="number" name={{i.id}} min="0">
                </td>
                <td><center>{{i.price}}</center></td>
            </tr>
            {%endfor%}

            <tr>
                <td colspan="3"><center><input type=submit value="Add">&nbsp; &nbsp; &nbsp;
                    <input type=reset value="Cancel"></center></td>

            </tr>



        </table>

    </form>
{% endblock %}
