





table{
	color:black;
	font-family:serif;
}
#a{
	margin-left:20%;

}
#b{
	margin-left:30%;
}
#c{
	margin-left:40%;
}
#d{
	margin-left:50%;
}
img {
    border-radius: 50%;

}
b{
	font-size:30
}
p{
	font-size: 22
}

